.person_button{
  width: 100%;
}

.app_button {
  width: 20%;
}

.person_button .btn.btn-default.action-button.shiny-bound-input {
    color: #333;
    background-color: white;
    width: -webkit-fill-available;
    margin-bottom: 0px;
    height: 90px;
    margin-top: 0px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100;
    border-color: white;
    margin-right: 15px;

}

.person_button .btn.btn-default.action-button.shiny-bound-input:hover {
    color: #333;
    background-color: #EBEDF0;
    width: -webkit-fill-available;
    margin-bottom: 0px;
    height: 90px;
    margin-top: 0px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100;
    border-color: #EBEDF0;


}

.person_button .btn.btn-default.action-button.shiny-bound-input:focus {
    color: #333;
    background-color: #ECF3FF;
    border-color: #ECF3FF;
    width: -webkit-fill-available;
    margin-bottom: 0px;
    height: 90px;
    margin-top: 0px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;

}

.app_button .btn.btn-default.action-button.shiny-bound-input {
    color: #333;
    background-color: white;
    border-color: white;
    width: -webkit-fill-available;
    margin-bottom: 10px;
    height: 60px;
    border-radius:20px;
    font-weight: 700;
}

.app_button .btn.btn-default.action-button.shiny-bound-input:hover {
    color: #333;
    background-color: #EBEDF0;
    border-color: #EBEDF0;
    width: -webkit-fill-available;
    margin-bottom: 10px;
    height: 60px;
}

.app_button .btn.btn-default.action-button.shiny-bound-input:focus {
    color: #1877F2;
    background-color: #ECF3FF;
    border-color: #ECF3FF;
    width: -webkit-fill-available;
    margin-bottom: 10px;
    height: 60px;
}

.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
    position:fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.navbar-default li{
    background-color: white;
    height: 80px;
    text-align: center;
    margin-left:30px;
    width:180px;
    align-items: center;
    margin-right: 30px;
    
}

.navbar-default li a{
    background-color: white;
    height: 100%;
    text-align: center;
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: black;
    margin-top:10px;
    margin-bottom:10px;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #EBEDF0;
}











