.person_button{
  width: 100%;
}

.app_button {
  width: 20%;
}

.person_button .btn.btn-default.action-button.shiny-bound-input {
    color: #333;
    background-color: #ff211e;
    border-color: #ccc;
    width: -webkit-fill-available;
    margin-bottom: 10px;
    height: 90px;
}

.app_button .btn.btn-default.action-button.shiny-bound-input {
    color: #333;
    background-color: #f121ee;
    border-color: #ccc;
    width: -webkit-fill-available;
    margin-bottom: 10px;
    height: 60px;
}

.navbar-default {
    background-color: bisque;
    border-color: #e7e7e7;
    position:fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

.navbar-default li{
    background-color: #efef23;
    height: 80px;
    text-align: center;
}

.navbar-default li a{
    background-color: #efef23;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}








